@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: powderblue;
}

.navbar-dark .navbar-brand {
  font-family: "Oregano", cursive !important;
  color: red;
  font-weight: 900;
  font-size: 2em;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #add-button {
    margin: 0 auto;
    text-align: center;
  }

  #filters-container {
    margin: 0 auto;
    text-align: center;
  }

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: darkblue;

    #formModal {
      color: black;
    }
    .form-group {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .form-submit {
      padding-top: 5px;
    }
  }

  #store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      width: 300px;
      margin: 5px;
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

// Navbar Styling
.navbar-image {
  max-height: 60px;
  max-width: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
  .nav-entry {
    padding-top: 15px;
    font-size: larger;
  }

.navbar-right {
  margin-left: auto;
  padding-right: 20px;
}

.filter-button-label {
  font-weight: 500;
  font-size: larger;
  color: darkblue;
}
.btn-group {
  margin: 5px;
}